@model IEnumerable<SlickTicket.Models.Ticket>
@using SlickTicket.Services.Interfaces
@using SlickTicket.Extensions 
@using Microsoft.AspNetCore.Identity 
@inject IBTCompanyInfoService _infoService
@inject IBTTicketService _ticketService
@inject IBTProjectService _projectService
@inject UserManager<BTUser> _userManager

@{
    ViewData["Title"] = "Index";
}

<h1>Company Tickets</h1>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">@Html.DisplayNameFor(model => model.DeveloperUser.Company.Name)</h3>
            </div>
            <!-- /.card-header -->
            <!-- Responsive Data Table-->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"></h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="companytickets" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Created</th>
                                <th>CreatedOrder</th>
                                <th>Priority</th>
                                <th>PriorityId</th>
                                <th>Type</th>
                                <th>TypeId</th>
                                <th>Status</th>
                                <th>StatusId</th>
                                <th>Add Members</th>
                                @if(User.IsInRole("Administrator") || User.IsInRole("ProjectManager")) {
                                <th>Edit</th>
                                }
                                <th>See Ticket</th>
                                <th>Project Manager</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Ticket ticket in Model)
                            {
                            <tr>
                                <td>@ticket.Title</td>
                                <td>@ticket.Description</td>
                                <td>@string.Format("{0:MMM dd yyyy}", ticket.Created) </td>
                                <td>@(ticket.Created.ToUnixTimeSeconds()) </td>
                                <td>@ticket.TicketPriority.Name</td>
                                <td>@ticket.TicketPriority.Id</td>
                                <td>@ticket.TicketType.Name</td>
                                <td>@ticket.TicketType.Id</td>
                                <td>@ticket.TicketStatus.Name</td>
                                <td>@ticket.TicketStatus.Id</td>
                                <td>
                                    <a class="btn btn-light text-dark" asp-controller="Tickets" asp-action="AssignTicket" asp-route-ticketId="@ticket.Id">Assign</a>
                                </td>
                                @if(User.IsInRole("Administrator") || ((await _projectService.GetProjectManagerAsync(ticket.Project.Id)) == (await _userManager.GetUserAsync(User)))) 
                                { 
                                <td>
                                    <a class="btn btn-info text-dark" asp-controller="Tickets" asp-action="Edit" asp-route-id="@ticket.Id">Edit</a>
                                </td>
                                }
                                <td><a class="btn btn-success text-dark"  asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id">Details</a></td>
                                <td>@((await _projectService.GetProjectManagerAsync(ticket.Project.Id)).FullName)</td>
                            </tr>
                            }

                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Created</th>
                                <th>CreatedOrdered</th>
                                <th>Priority</th>
                                <th>PriorityId</th>
                                <th>Type</th>
                                <th>TypeId</th>
                                <th>Status</th>
                                <th>StatusId</th>
                                <th>Add Members</th>
                                @if (User.IsInRole("Administrator") || User.IsInRole("ProjectManager"))
                                {
                                    <th>Edit</th>
                                }
                                <th>See Ticket</th>
                                <th>Project Manager</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>


@section Scripts {
<script>
    $(document).ready(function () {
        $('#companytickets').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
/*            "info": true,*/
            "autoWidth": false,
            columnDefs: [
                { targets: [3, 5, 7, 9], visible: false },
                {"orderData": 3, targets: [2]},
                { "orderData": 5, targets: [4]},
                { "orderData": 7, targets: [6]},
                { "orderData": 9, targets: [8]},
                { targets: '_all', visible: true }
            ]
/*            "responsive": true,*/
        });
    });
</script>
}

