@model IEnumerable<SlickTicket.Models.Ticket>
@using SlickTicket.Services.Interfaces
@using Microsoft.AspNetCore.Identity 
@inject IBTCompanyInfoService _infoService
@inject IBTTicketService _ticketService
@inject IBTProjectService _projectService
@inject UserManager<BTUser> _userManager

@{
    ViewData["Title"] = "Index";
}

<h1>Company Tickets</h1>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">@Html.DisplayNameFor(model => model.DeveloperUser.Company.Name)</h3>
            </div>
            <!-- /.card-header -->
            <!-- Responsive Data Table-->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"></h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="companytickets" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Priority</th>
                                <th>PriorityId</th>
                                <th>Status</th>
                                <th>StatusId</th>
                                <th>Submitter</th>
                                <th>Developer</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Ticket ticket in Model)
                            {
                            <tr>
                                <td>@ticket.Title</td>
                                <td>@ticket.TicketPriority.Name</td>
                                <td>@ticket.TicketPriority.Id</td>
                                <td>@ticket.TicketStatus.Name</td>
                                <td>@ticket.TicketStatus.Id</td>
                                @if (ticket.OwnerUser is not null)
                                {
                                    <td>@ticket.OwnerUser?.FullName</td>
                                }
                                else
                                {
                                    <td class="text-red">Unassigned</td>
                                }
                                @if (ticket.DeveloperUser is not null)
                                {
                                    <td>@ticket.DeveloperUser?.FullName</td>
                                }
                                else
                                {
                                    <td class="text-red">Unassigned</td>
                                }

                                <td>
                                    <a class="text-white" asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id">Details</a> |
                                    <a class="text-white" asp-controller="Tickets" asp-action="Edit" asp-route-id="@ticket.Id">Edit</a> |
                                    <a class="text-white" asp-controller="Tickets" asp-action="AssignTicket" asp-route-ticketId="@ticket.Id">Assign</a> |
                                    <a class="text-white" asp-controller="Tickets" asp-action="Delete" asp-route-id="@ticket.Id">Delete</a>
                                </td>
                                @if (User.IsInRole("Administrator") || ((await _projectService.GetProjectManagerAsync(ticket.Project.Id)) == (await _userManager.GetUserAsync(User))))
                                {

                                }
                            </tr>
                            }

                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Title</th>
                                <th>Priority</th>
                                <th>PriorityId</th>
                                <th>Status</th>
                                <th>StatusId</th>
                                <th>Submitter</th>
                                <th>Developer</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>


@section Scripts {
<script>
    $(document).ready(function () {
        $('#companytickets').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
/*            "info": true,*/
            "autoWidth": false,
            columnDefs: [
                { targets: [2, 4], visible: false },
                {"orderData": 2, targets: [1]},
                { "orderData": 4, targets: [3]},
                { targets: '_all', visible: true }
            ]
/*            "responsive": true,*/
        });
    });
</script>
}

