@model IEnumerable<SlickTicket.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>Company Tickets</h1>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">@Html.DisplayNameFor(model => model.DeveloperUser.Company.Name)</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Title)</th>
                            <th>@Html.DisplayNameFor(model => model.Description)</th>
                            <th>@Html.DisplayNameFor(model => model.Created)</th>
                            <th>Owner</th>
                            <th>@Html.DisplayNameFor(model => model.TicketPriority)</th>
                            <th>@Html.DisplayNameFor(model => model.TicketType)</th>
                            <th>@Html.DisplayNameFor(model => model.TicketStatus)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var ticket in Model) {
                        <tr>
                            <td> @Html.DisplayFor(model => ticket.Title)</td>
                            <td>@Html.DisplayFor(model => ticket.Description)</td>
                            <td>@Html.DisplayFor(model => ticket.Created)</td>
                            <td>@Html.DisplayFor(model => ticket.OwnerUser.FullName)</td>
                            <td>@Html.DisplayFor(model => ticket.TicketPriority.Name)</td>
                            <td>@Html.DisplayFor(model => ticket.TicketType.Name)</td>
                            <td>@Html.DisplayFor(model => ticket.TicketStatus.Name)</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

