@using SlickTicket.Services.Interfaces 
@model SlickTicket.Models.Ticket

@inject IBTProjectService _projectService 
@inject IBTFileService BtFileService 

@{
    //var projectManager = await _projectService.GetProjectManagerAsync(Model.Id);
    ViewData["Title"] = "Ticket Details";
}



<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h1>Ticket Details</h1>
            <h3 class="card-title">@Model.Title</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <div class="info-box bg-light">
                                <div class="info-box-content">
                                    <span class="info-box-text text-center text-muted">Priority</span>
                                    <span class="info-box-number text-center text-muted mb-0">@Model.TicketPriority.Name</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="info-box bg-light">
                                <div class="info-box-content">
                                    <span class="info-box-text text-center text-muted">Status</span>
                                    <span class="info-box-number text-center text-muted mb-0">@Model.TicketStatus.Name</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="info-box bg-light">
                                <div class="info-box-content">
                                    <span class="info-box-text text-center text-muted">Type</span>
                                    <span class="info-box-number text-center text-muted mb-0">@Model.TicketType.Name</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h4>Recent Activity</h4>
                            <div class=" btn-sm btn-block">@Model.Comments.Count total Comment(s)</div>
                            <form asp-action="Create" asp-controller="TicketComments" method="post">
                                <input type="hidden" name="TicketId" value="@Model.Id" />
                                <textarea class="form-control" name="Comment" rows="3" placeholder="Add a comment..."></textarea>
                                <button class="btn btn-dark btn-block btn-small Oz" type="submit">Add Comment</button>

                            </form>
                            @foreach (var comment in Model.Comments)
                            {
                                <div class="post">
                                    <div class="user-block">
                                        <img class="img-circle img-bordered-sm" src="../../dist/img/user1-128x128.jpg" alt="user image">
                                        <span class="username">
                                            <a href="#">@comment.User.FullName</a>
                                        </span>
                                        <span class="description">Shared at - @comment.Created</span>
                                    </div>
                                    <!-- /.user-block -->
                                    <p>
                                        @Html.Raw(comment.Comment)
                                    </p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                    <h3 class="text-primary"><i class="fas fa-paint-brush"></i> Description</h3>
                    <p class="text-muted">@Model.Description</p>
                    <br>
                    <div class="text-muted">
                        <p class="text-sm">
                            Client Company
                            <b class="d-block">Deveint Inc</b>
                        </p>
                        <p class="text-sm">
                            Project Manager
                            <b class="d-block">@*@projectManager?.FullName*@</b>
                        </p>
                    </div>

                    <h5 class="mt-5 text-muted">Project files</h5>
                    <ul class="list-unstyled">
                        <div class="row clearfix">
                            @foreach (TicketAttachment item in Model.Attachments)
                            {
                        <div class="col-sm-2">
                            <div class="card">
                                <div class="file">
                                    <a class="btn btn-icon btn-danger" asp-action="ShowFile" asp-controller="Tickets" asp-route-Id="@item.Id">
                                        <div class="hover">
                                            @*<button type="button" class="btn btn-icon btn-danger"> </button>*@
                                                <i class="fa fa-trash"></i>
                                           
                                        </div>
                                        <div class="icon">
                                            <img src="@BtFileService.GetFileIcon(item.FileName)" style="height:60px;width:60px" />
                                        </div>
                                        <div class="file-name">
                                            <p class="m-b-5 text-muted">@System.IO.Path.GetFileNameWithoutExtension(item.FileName)</p>
                                            <small>Size: @BtFileService.FormatFileSize(item.FileData.Length) <span class="date text-muted">@item.Created.ToString("MMM dd, yyyy")</span></small>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>}
                        </div>
                        </ul>
                    <div class="border-1 border-light">
                        <form asp-action="Create" asp-controller="TicketAttachments" enctype="multipart/form-data" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="@Model.Id" name="TicketId">


                            <div class="media-body ml-3">
                                <label class="form-label d-block mb-2">Add Attachment</label>
                                <label>
                                    Description
                                    <input asp-for="@Model.Attachments.FirstOrDefault().Description" type="text" class="form-control" />
                                </label><br />
                                <label class="btn btn-outline-primary btn-sm">
                                    <input asp-for="@Model.Attachments.FirstOrDefault().FormFile" type="file" />
                                </label>
                                <button type="submit" class="btn btn-outline-secondary btn-sm md-btn-flat">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>


<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
