@model SlickTicket.Models.ViewModels.MyTicketsViewModel
@using SlickTicket.Services
@using X.PagedList
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "Index";
}

<h1>My Tickets</h1>

<p>
    <a class="btn btn-info" asp-action="Create">Create New</a>
</p>

<div class="row">
    <div class="col-12">

        @if (User.IsInRole("Administrator") || User.IsInRole("ProjectManager") || User.IsInRole("Developer"))
        {
            if (!Model.DevTickets.Any()) 
            { 
                //If user has no developer tickets assigned to them
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Developer Tickets</h3>
                </div>
                <div class="card-body">
                    <h4>You don't have any Developer tickets assigned to you yet!</h4>
                </div>
            </div>

            }
            else
            {


            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Developer Tickets</h3>
                </div>
                <!-- /.card-header -->

                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap" id="devtable">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Created</th>
                                <th>CreatedOrder</th>
                                <th>Priority</th>
                                <th>PriorityId</th>
                                <th>Status</th>
                                <th>StatusId</th>
                                <th>View</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Ticket ticket in Model.DevTickets)
                            {
                                <tr>
                                    <td>@ticket.Title</td>
                                    <td>@string.Format("{0:MMM dd yyyy}", ticket.Created)</td>
                                    <td>@(ticket.Created.ToUnixTimeSeconds())</td>
                                    <td>@ticket.TicketPriority.Name</td>
                                    <td>@ticket.TicketPriority.Id</td>
                                    <td>@ticket.TicketStatus.Name</td>
                                    <td>@ticket.TicketStatus.Id</td>
                                    <td><a class="btn btn-secondary" asp-action="Details" asp-route-id="@ticket.Id">View</a></td>
                                    <td><a class="btn btn-info" asp-action="Edit" asp-route-id="@ticket.Id">Edit</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            }
        }
        <!-- /.card -->
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">My Submitted Tickets</h3>
            </div>

            @if (!Model.SubTickets.Any())
            {
            //If user has not created any tickets
                <div class="card-body">
                    <h4>You haven't submitted any tickets yet!</h4>
                </div>
            }
            else
            {
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap" id="subtickets">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Created</th>
                            <th>CreatedOrder</th>
                            <th>Priority</th>
                            <th>PriorityId</th>
                            <th>Status</th>
                            <th>StatusId</th>
                            <th>View</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Ticket ticket in Model.SubTickets)
                        {
                            <tr>
                                <td>@ticket.Title</td>
                                <td>@string.Format("{0:MMM dd yyyy}", ticket.Created)</td>
                                <td>@(ticket.Created.ToUnixTimeSeconds())</td>
                                <td>@ticket.TicketPriority.Name</td>
                                <td>@ticket.TicketPriority.Id</td>
                                <td>@ticket.TicketStatus.Name</td>
                                <td>@ticket.TicketStatus.Id</td>
                                <td><a class="btn btn-secondary" asp-action="Details" asp-route-id="@ticket.Id">View</a></td>
                                <td><a class="btn btn-info" asp-action="Edit" asp-route-id="@ticket.Id">Edit</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            }
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#devtickets').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                /*            "info": true,*/
                "autoWidth": false,
                columnDefs: [
                    { targets: [2, 4, 6], visible: false },
                    { "orderData": 2, targets: [1] },
                    { "orderData": 4, targets: [3] },
                    { "orderData": 6, targets: [5] },
                    { targets: '_all', visible: true }
                ]
                /*            "responsive": true,*/
            });
        });

        $(document).ready(function () {
            $('#subtickets').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                /*            "info": true,*/
                "autoWidth": false,
                columnDefs: [
                    { targets: [2, 4, 6], visible: false },
                    { "orderData": 2, targets: [1] },
                    { "orderData": 4, targets: [3] },
                    { "orderData": 6, targets: [5] },
                    { targets: '_all', visible: true }
                ]
                /*            "responsive": true,*/
            });
        });
    </script>
}

