@model SlickTicket.Models.ViewModels.MyTicketsViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Developer Tickets</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Created</th>
                            <th>Priority</th>
                            <th>Status</th>
                            <th>View</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(Ticket ticket in Model.DevTickets) {
                        <tr>
                            <td>@ticket.Title</td>
                            <td>@ticket.Created</td>
                            <td>@ticket.TicketPriority.Name</td>
                            <td>@ticket.TicketStatus.Name</td>
                            <td><a class="btn btn-secondary" asp-action="Details" asp-route-id="@ticket.Id">View</a></td>
                            <td><a class="btn btn-info" asp-action="Edit" asp-route-id="@ticket.Id">Edit</a></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Submitted Tickets</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Created</th>
                            <th>Priority</th>
                            <th>Status</th>
                            <th>View</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Ticket ticket in Model.SubTickets)
                        {
                            <tr>
                                <td>@ticket.Title</td>
                                <td>@ticket.Created</td>
                                <td>@ticket.TicketPriority.Name</td>
                                <td>@ticket.TicketStatus.Name</td>
                                <td><a class="btn btn-secondary" asp-action="Details" asp-route-id="@ticket.Id">View</a></td>
                                <td><a class="btn btn-info" asp-action="Edit" asp-route-id="@ticket.Id">Edit</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

