@model SlickTicket.Models.ViewModels.DashboardViewModel
@using Microsoft.AspNetCore.Identity
@using SlickTicket.Extensions
@using SlickTicket.Services.Interfaces

@inject IBTCompanyInfoService _companyInfoService
@inject IBTRolesService _roleService
@inject IBTProjectService _projectservice
@inject IBTTicketService _ticketService
@inject UserManager<BTUser> _userManager
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    int companyId = User.Identity.GetCompanyId().Value;
    BTUser btUser = await _userManager.GetUserAsync(User);
    var pms = await _companyInfoService.GetMembersInRoleAsync("Project Manager", companyId);
    List<Project> myProjects = await _projectservice.ListUserProjectsAsync(btUser.Id);
}
    <!-- Content Wrapper. Contains page content -->
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Welcome @btUser.FullName</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Dashboard">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Info boxes -->
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="info-box">
                            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Total Projects</span>
                                <span class="info-box-number">
                                    @Model.Projects.Count
                                    <small></small>
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="info-box mb-3">
                            <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Total Tickets</span>
                                <span class="info-box-number">@Model.Tickets.Count</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                    <!-- fix for small devices only -->
                    <div class="clearfix hidden-md-up"></div>

                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="info-box mb-3">
                            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Team Members</span>
                                <span class="info-box-number">@Model.Users.Count</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="info-box mb-3">
                            <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Project Managers</span>
                                <span class="info-box-number">
                                    @foreach (var pm in pms)
                                    {
                                        @pm.FullName
                                    }
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Company Projects</h5>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                                        <i class="fas fa-wrench"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                                        <a href="#" class="dropdown-item">Action</a>
                                        <a href="#" class="dropdown-item">Another action</a>
                                        <a href="#" class="dropdown-item">Something else here</a>
                                        <a class="dropdown-divider"></a>
                                        <a href="#" class="dropdown-item">Separated link</a>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    @*<p class="text-center">
                                    <strong>Sales: 1 Jan, 2014 - 30 Jul, 2014</strong>
                                </p>*@
                                    <table id="example2" class="table table-bordered table-hover">
                                        <thead>
                                            <tr class="bg-cyan">
                                                <th>Name</th>
                                                <th>Description</th>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>Priority</th>
                                                <th>Manage Projects</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var project in Model.Projects)
                                            {
                                                <tr>
                                                    <td>@project.Name</td>
                                                    <td>
                                                        @project.Description
                                                    </td>
                                                    <td>@project.StartDate</td>
                                                    <td>@project.EndDate</td>
                                                    <td>@project.ProjectPriority.Name</td>
                                                    @if (User.IsInRole("Administrator") || User.IsInRole("ProjectManager"))
                                                    {
                                                        <td><a class="btn btn-sm btn-primary" asp-action="Details" asp-controller="Projects" asp-route-id="@project.Id">Manage</a></td>
                                                    }

                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr class="bg-cyan">
                                                <th>Name</th>
                                                <th>Description</th>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>Priority</th>
                                                <th>Manage Projects</th>
                                            </tr>
                                        </tfoot>
                                    </table>

                                </div>
                            </div>
                            <!-- ./card-body -->
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- USERS LIST -->
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="card-title">Members</h3>

                                                <div class="card-tools">
                                                    <span class="badge badge-danger">@Model.Users.Count Total</span>
                                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                        <i class="fas fa-minus"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                                                        <i class="fas fa-times"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <!-- /.card-header -->
                                            <div class="card-body p-0">
                                                <ul class="users-list clearfix">
                                                    @foreach (var member in Model.Users)
                                                    {
                                                        <li>
                                                            <img @*IMAGE SERVICE HERE*@ alt="User Image">
                                                            <a class="users-list-name" href="#">@member.FullName</a>
                                                            <span class="users-list-date">@member.Projects.Count Projects</span>
                                                        </li>
                                                    }
                                                </ul>
                                                <!-- /.users-list -->
                                            </div>
                                            <!-- /.card-body -->
                                            <div class="card-footer text-center">
                                                <a asp-controller="Home" asp-action="Dashboard">View All Users</a>
                                            </div>
                                            <!-- /.card-footer -->
                                        </div>
                                        <!--/.card -->
                                    </div>
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.card-footer -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">My Projects</h5>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                                        <i class="fas fa-wrench"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                                        <a href="#" class="dropdown-item">Action</a>
                                        <a href="#" class="dropdown-item">Another action</a>
                                        <a href="#" class="dropdown-item">Something else here</a>
                                        <a class="dropdown-divider"></a>
                                        <a href="#" class="dropdown-item">Separated link</a>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    @*<p class="text-center">
                                    <strong>Sales: 1 Jan, 2014 - 30 Jul, 2014</strong>
                                </p>*@
                                    <table id="example2" class="table table-bordered table-hover">
                                        <thead>
                                            <tr class="bg-cyan">
                                                <th>Name</th>
                                                <th>Description</th>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>Priority</th>
                                                <th>Manage Projects</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var project in myProjects)
                                            {
                                                <tr>
                                                    <td>@project.Name</td>
                                                    <td>
                                                        @project.Description
                                                    </td>
                                                    <td>@project.StartDate</td>
                                                    <td>@project.EndDate</td>
                                                    <td>@project.ProjectPriority.Name</td>
                                                    <td><a class="btn btn-sm btn-primary" asp-action="Details" asp-controller="Projects" asp-route-id="@project.Id">Manage</a></td>

                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr class="bg-cyan">
                                                <th>Name</th>
                                                <th>Description</th>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>Priority</th>
                                                <th>Manage Projects</th>
                                            </tr>
                                        </tfoot>
                                    </table>

                                </div>
                            </div>
                            <!-- ./card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </section>

