@model SlickTicket.Models.ViewModels.ProjectMembersViewModel

@{
    ViewData["Title"] = "Assign Users";
}

<div class="container">
    <h2> Assign Users </h2>

    <div class="row">
        <div class="col">
            <p>
                Name :
                <span>@Model.Project.Name</span>
            </p>

            <form asp-action="AssignUsers" asp-controller="Projects" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="@Model.Project.Id">
                <input type="hidden" asp-for="@Model.Project.Name">
                @*<input type="hidden" asp-for="@Model.Project.Description">*@
                <div class="col-12">
                    <div class="form-group">
                        <label asp-for="@Model.Users" class="control-label">Assign team members for Project: @Model.Project.Name</label>
                        <select asp-for="@Model.SelectedUsers" asp-items="@Model.Users" class="duallistbox" multiple="multiple"></select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <input type="submit" class="btn btn-primary" value="Assign Users" />
                        <a asp-action="Details" asp-route-id="@Model.Project.Id" class="btn btn-secondary">
                            Back to Project Details
                        </a>
                        <a asp-action="Dashboard" asp-controller="Home" class="btn btn-secondary">Dashboard</a>
                    </div>
                </div>
            </form>


        </div>
        <!--End Hover Rows-->
    </div>
</div>

@section Scripts {
    <script src="~/plugins/jquery.bootstrap-duallistbox.min.js"></script>

<script>
    $(".duallistbox").bootstrapDualListbox()
</script>
}